@model IEnumerable<E_LearningApplication_Final.Dtos.CourseDto>

@{
    ViewBag.Title = "ProfessorCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2> MyCourses  </h2>
<p>
    @Html.ActionLink("New Course", "NewCourse", "Course", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>

<table id="courses" class="table table-bordered table-hover">
    <thead>
        <tr>


            <th>Course Name</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>

        @{
            foreach (var course in Model)
            {
                <tr>
                        <td>@Html.ActionLink(@course.Name, "ProfessorDetails", "Course", new { id = course.Id }, null)</td>
                        <td>@Html.ActionLink("Edit", "Edit", "Course", new { id = course.Id }, null)</td>
                        <td> @Html.ActionLink("Delete", "Delete", "Course", new { id = course.Id }, null)</td>


                    </tr>
            }
        }
      

    </tbody>
</table>

